<div class="container-fluid">

    <div class="row">
    
        <div class="col-md-8">
          
            <h1>Welcome to Ping!</h1>   
            <br>   
            <img src="https://i.cloudup.com/Kf78gMGL9I.png" class="img-thumbnail">
            <br>
            <h3>What is this?</h3>
            <p>
            A small Dropwizard web application with an AngularJS and Bootstrap UI.
            </p>    

            <h3>Links</h3>
            <p>
              <ul>
                <li>Create and view <a href="/#/users">Users</a></li>
                <li>Github page: <a href="https://github.com/cbumgard/ping-dropwizard" target="_blank">https://github.com/cbumgard/ping-dropwizard</a></li>
              </ul>
            </p>
        </div>
    </div>
</div>
